@import '../../styles/variables';
.input-bar-container {
  background: $search-background;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  input {
    font-size: 14px;
    border: none;
    width: 200px;
    height: 35px;
    padding: 10px;
    background: transparent;
    color: $white-color;
    &::placeholder {
      color: $search-text-color;
    }
    &:focus {
      width: 300px;
      transition: width 0.5s ease;
    }
  }
}
