$primary-color: #2184ff;
$box-shadow1: rgba(0, 0, 0, 0.14);
$white-color: #ffffff;
$black-color: #000000;
$font: Helvetica, sans-serif;
$white-opacity: rgba(255, 255, 255, 0.5);
$secondary-color: #7ba1d0;
$background-light: #757ce8;
$background-dark: #1976d2;
$text-dark: #002884;
$search-background: #8abbef;
$border-color: #e0e0e0;
$search-text-color: #4387d0;
$box-shadow: rgba(0, 0, 0, 0.12);
$box-shadow2: rgba(0, 0, 0, 0.2);
@mixin nav-list-font-style() {
  font-weight: normal;
  font-size: 16px;
  color: $black-color;
}
